@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.mut-btn{
  background: url(connet-btn.svg) center no-repeat;
  height: 50px;
  width:400px;
}

.mut-btn:hover{
  opacity: 0.7;
  transition: 0.2s ease-in-out ;
  background-color: none;
}

.mut-bg{
  background: url(pop-bg.svg) center top no-repeat;
  background-color: #19313f;
  color: #ffffff;
  background-size: contain;
}
.mut-adress{
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.mut-wallet{
  font-size: 10px;
    padding: 16px;
    color: #FECD34;
    background-color: #324a57;
    margin-top: 16px;
    border: solid 1px #FECD34;
}
.text-red-600 {
    color: rgb(255 63 63);
}
.mut-buy-green{
  background: url(buy-btn-green.svg) center no-repeat;
  height: 50px;
  width:400px;
}
.mut-y{
  color: #FECD34;
}
.mut-g{
  color: #00A954;
}
